.logo-home {
  display: flex;
  justify-content: space-between;
  /* z-index: 3; */
  justify-content: flex-front;
  width: 50%;
  padding: 0 20px;
}

a:-webkit-any-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  color: black;
  font-family: "Ropa Sans", sans-serif;
  font-size: 2vw;
}
@media screen and (max-width: 990px) {
  .logo-home {
    width: 98%;
    padding: 0 20px;
    justify-content: flex-end;
  }
}
.background-layout {
  background-color: azure;
  height: 50px;
}

.footer img {
  height: 20px;
  margin: 1px;
}
.footer {
  /* margin-top: 10rem;
  padding: 1rem; */
  background-color: azure;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-wrap: wrap; */
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .logo-home {
    width: 98%;
    padding: 0 20px;
    justify-content: space-between;
  }
  /* .nav-links-andy {
    flex-direction:raw;
    background-color: #f0ecec;
  } */
  .auth-menu a {
    margin: 0 5px;
  }
}

.Nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
a:-webkit-any-link {
  font-size: 26px;
}

p {
  padding-top: 10%;
}

.footer {
  border-top: #91949a solid 1.8px;
  width: 100%;
  background: azure;
  text-align: center;
  /* height: fit-content; 
  display: inline-block; */
}

.footer-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 3px;
  width: 60%;
}

@media screen and (min-width: 1024px) {
  footer {
    margin-top: 3vw;
    padding: 3vw;
  }
}

.background-main {
background-image: url(https://i.imgur.com/vnGzbOl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}