/* html,
body {
  height: 100%;
  width: 100%;
}

.background {
  background-image: url(https://i.imgur.com/vnGzbOl.jpg);
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

f