.show {
  background-color: azure;
  display: flex;
  height: 500px;
  display: flex;
}

.item-detail {
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 100%;
  margin: 0 auto;
  background-color: white; 
}

.name {
  font-size: 36px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  padding: 5px;
  color: black;
}
.item-image {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
.style {
  padding-top: 20px;
  font-size: 26px;
  font-family:  sans-serif;
  font-size: 26px; 
}

.description {
  padding-top: 20px;
  letter-spacing: 0.9px;
  font-family: sans-serif;
  font-size: 26px;
  color: black;
}

@media (max-width: 1024px) {
  .name {
    font-size: 32px;
  }
  .product-detail-image {
    width: 60%;
    margin-top: 5%;
    padding: 10%;
  }
  .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfc8be;
    /* margin: 20px; */
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

.wrap-detail {
  background-image: url(https://i.imgur.com/XnDekWu.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: alpha(Opacity=90);
  opacity: 0.9;
  display: flex;
}

@media (max-width: 850px) {
  .product-detail-image {
    width: 60%;
    /* margin: 15px;
    padding: 10px; */
  }
  .item-detail {
    padding: 2%;
  }
 
  .drop-down {
    width: 60%;
    height: 40%;
  }
}
