.show {
  display: flex;
  height: 500px;
  display: flex;
}

.item-detail {
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 60vw;
  width: 50vw;
  margin: 0 auto;
  background-color: #dfc8be;
}

.name {
  font-size: 36px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  padding: 5px;
  color: black;
}
.item-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.style {
  padding-top: 20px;
  font-size: 26px;
  font-family: sans-serif;
  font-size: 26px;
}

.description {
  padding-top: 20px;
  letter-spacing: 0.9px;
  font-family: sans-serif;
  font-size: 26px;
  color: black;
}

@media (max-width: 1024px) {
  .name {
    font-size: 32px;
    padding-top: 1vw;
  }
  .product-detail-image {
    width: 60%;
    margin-top: 5%;
    padding: 10%;
  }
  .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfc8be;
    /* margin: 20px; */
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}


@media (max-width: 850px) {
  .product-detail-image {
    width: 60%;
    /* margin: 15px;
    padding: 10px; */
  }
  .item-detail {
    padding: 2%;
  }

  .drop-down {
    width: 60%;
    height: 40%;
  }
  .description {
    padding-top: 10px;
    letter-spacing: 0.7px;
    font-family: "Ropa Sans", sans-serif;
    font-size: 22px;
    color: black;
  }

  .name {
    padding: 10px;
    letter-spacing: 0.7px;
    font-family: "Ropa Sans", sans-serif;
    font-size: 24px;
  }
  .style {
    padding-bottom: 5px;
    letter-spacing: 0.7px;
    font-family: "Ropa Sans", sans-serif;
    font-size: 20px;
  }
}
