body {
  background-color: azure;
}

header {
  height: 180px;
  background-color: azure;

  align-items: center;
  border-color: black;
}

p {
  font-size: 36px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  /* padding: 5px; */
  color: black;
  text-align: center;
  margin-top: 5vw;
  text-shadow: 2px 3px #bda6a2;
}

button.btn.btn-submit {
  color: white;
  background-color: #c0c9cd;
  padding: 7px 10px;
  margin-top: 5%;
  /* font-size: 1.3vw; */
  /* font-size: 20px; */
  /* padding: 3%; */
  margin: 25px;
  border-radius: 0px;
  letter-spacing: 1.5px;
  flex-direction: row;
  justify-content: space-between;
  display: inline-flexbox;
  border-radius: 10px;
  font-family: "Ropa Sans", sans-serif;
}
.form-login {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30vh 10vw;
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  background-color: rgba(242, 239, 239, 0.606);
  margin-top: 5vh;
  padding: 10px;
}
