.form-register {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30vh 10vw;
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  background-color: rgba(242, 239, 239, 0.606);
  margin-top: 5vh;
  padding: 10px;
}

p {
  font-size: 24px;
  font-family: 'Ropa Sans', sans-serif; 
  padding: 7%;
}
input {
  display: flex;
  padding-right: 15vw;
  flex-direction: column;
  align-items: center; 
  padding-top: 2vw;
  justify-content: space-around;
}
body {
  background-color: azure;
}

header {
  height: 180px;
  background-color: azure;

  align-items: center;
  border-color: black;
}

button.btn.btn-primary {
  color: white;
  background-color: #c0c9cd;
  padding: 7px 10px;
  margin-top: 5%;
  margin: 25px;
  border-radius: 0px;
  letter-spacing: 1.5px;
  flex-direction: row;
  justify-content: center;
  display: inline-flexbox;
  border-radius: 10px;
  font-family: 'Ropa Sans', sans-serif;
}

label {
  width: 40%;

}